/* Horizontal align inner wrappers */
.header-inner,
.banner-inner,
.main-inner,
.contact-inner,
.footer-inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* transitions */
.header,
.logo,
.toggleButton,
.menu-inner,
.menu-link,
.menu-link--isActive,
.mask {
  transition: all 0.3s;
}
