# EditorConfig is awesome: http://EditorConfig.org

# Set top-most editorconfig file: true|unset
root = true

[*]
# Set default charset: utf-8|utf-8-bom|utf-16be|utf-16le|latin1|unset
charset = utf-8

# Set default indentation style: space|tab|unset
indent_style = space

# Set default size of space indentation: a whole number|unset
indent_size = 2

# Set default width of tab indentation: a whole number|unset
tab_width = unset

# Set style of newlines: crlf(Windows)|cr(Macintosh)|lf(Unix)|unset
end_of_line = lf

# Remove any whitespace characters preceding newline characters: true|false|unset
trim_trailing_whitespace = true

# Insert newline ending in every file: true|false|unset
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
