.banner {
  margin-bottom: 60px;
  padding-top: 120px; /* Space for fixed header */

  text-align: center;

  color: rgb(255,252,244);
  background: url(../../img/header-image.jpg) no-repeat top rgb(30,30,30);
}

/* Banner text wrapper */
.banner-inner {
  display: inline-block;

  max-width: 930px;
  margin-top: 250px;
  margin-bottom: 250px;

  vertical-align: middle;
}

.banner-title {
  margin-bottom: 50px;

  font: 400 48px 'Exo', sans-serif;
}

.banner-title span {
  font-weight: 900;

  text-transform: uppercase;

  color: rgb(29,222,139);
}

.banner-description {
  font-weight: 300;
  font-size: 18px;
  line-height: 2;
}

@media all and (max-width: 799px) {

  .banner {
    margin-bottom: 60px;
    padding-top: 70px; /* Space for fixed header */

    background-size: cover;
  }

  .banner-inner {
    margin-top: 200px;
    margin-bottom: 200px;
  }

}

@media all and (max-width: 599px) {

  .banner-inner {
    margin-top: 150px;
    margin-bottom: 150px;
  }

}
