.filter {
  margin-bottom: 55px;

  font-weight: 100;
  font-size: 18px;
}

.filter-item {
  display: inline-block;

  margin-right: 35px;

  color: rgb(70,70,70);
  background-color: transparent;

  cursor: pointer;
}

.filter-item:last-child {
  margin-right: 0;
}

.filter-item:hover {
  color: rgb(29,222,139);
}

/* class add with mixitup plugin */
.filter-item--isActive {
  padding-bottom: 10px;

  opacity: 1;
  color: rgb(29,222,139);
  border-bottom: 1px solid rgb(29,222,139);
}

@media all and (max-width: 599px) {

  .filter-item {
    width: 100%;

    padding-bottom: 5px;
    margin-right: 0;

    font-size: 1.4em;
  }

  .filter-item--isActive {
    padding-bottom: 0;

    color: rgb(255,252,244);
    background-color: rgb(29,222,139);
  }

  .filter-item--isActive:hover {
    color: rgb(255,252,244);
  }
}
