.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  font-size: 40px;
  line-height: 120px;

  color: rgb(255,252,244);
  background-color: rgba(10,10,10,0.1);
  box-shadow: 0 1px 0 0 rgb(75,75,75);
}

/* header transformation when scroll */
.header--isTransformed {
  font-size: 30px;
  line-height: 55px;

  background-color: rgb(10,10,10);
}

.header-inner {
  padding: 0;
}

@media all and (max-width: 799px) {

  /* change the header default height */
  .header {
    line-height: 70px;
  }

  /* change the header background color when menu is open */
  .menu--isActive .header {
    background-color: #000;
  }

}
