.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* Mask activation when menu is opened */
.menu--isActive .mask {
  z-index: 9;

  background-color: rgba(0,0,0,0.6);
}

@media all and (min-width: 800px) {

  .mask {
    display: none;
  }

}
