/* Team section */

.team {}

.team-title {
  margin-bottom: 55px;
}

.team-itemWrapper {
  color: rgb(255,252,244);
}

.team-item {
  position: relative; /* for inside positioning */

  display: inline-block;

  width: 23.275%;
  margin-right: 2.3%;
  /* max-width: 270px; */
  /* max-height: 355px; */

  vertical-align: top;
}

.team-item:nth-child(4) {
  margin-right: 0;
}

.team-personPhoto {
  width: 100%;

  vertical-align: top;
}

.team-personInformation {
  position: absolute;
  bottom: 0;
  z-index: 1;

  width: 100%;
  height: 78px; /* paragraphs line-height + padding */
  padding: 15px;
  margin: auto;

  background-color: rgb(70,70,70);
  background-color: rgba(70,70,70,0.9);
}

.team-personName {
  font-size: 18px;
  line-height: 1.5;
}

.team-personProfession {
  font: 100 14px/1.5 'Roboto', Arial, Helvetica, sans-serif;
}

.team-personSocialLinks {
  position: absolute;
  bottom: 5%;
  z-index: 1;

  display: none;

  width: 100%;

  font-size: 26px;
  line-height: 40px;

  border-top: 1px solid rgb(255,252,244);
  border-bottom: 1px solid rgb(255,252,244);
}

.team-personSocialLinks a {
  color: rgb(255,252,244);
}

/* Hover */
.team-item:hover .team-personInformation {
  top: 0;

  background-color: transparent;
}

.team-item:hover::after {
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgb(29,222,139);
  background-color: rgba(29,222,139,0.9);
}

.team-item:hover .team-personSocialLinks {
  display: block;
}

@media all and (max-width: 946px) {

  .team-item {
    width: 45%;
  }

  .team-item:nth-child(n) {
    margin: 0 2.5% 5% 2.5%;
  }

  .team-item:nth-child(n+3) {
    margin-bottom: 0;
  }

}

@media all and (max-width: 599px) {

  .team-item {
    width: 90%;
  }

  .team-item:nth-child(n) {
    margin: 0 5% 10% 5%;
  }

  .team-item:last-child {
    margin-bottom: 0;
  }

}
