/*------------------------------------*\
  #FEEDBACK FORM
\*------------------------------------*/

.feedback {
  text-align: justify;

  color: rgb(255,252,244);
}

 /* Feedback form fields */
.feedback-name,
.feedback-email,
.feedback-message {
  display: inline-block;

  margin-bottom: 30px;
  padding: 15px 15px;

  font-size: 14px;
  font-weight: 300;
  font-style: italic;

  border: 1px solid rgb(150,150,150);
  background-color: transparent;
}

.feedback-name,
.feedback-email {
  width: 49%;
}

.feedback-message {
  overflow: auto;

  width: 100%;
  min-height: 200px;
  max-height: 500px;

	resize: vertical;
}

/* Feedback form button */
.feedback-button {
  display: block;

  margin: auto;
  padding: 13px 30px;

  font-size: 18px;
  font-weight: 100;
}

@media all and (max-width: 599px) {

  .feedback-name,
  .feedback-email {
    width: 100%;
  }

}
