/* Logo container */
.logo {
  float: left;

  padding: 0 15px;

  font-weight: 400;
  font-family: 'Pacifico', cursive;
}

.logo-link {
  line-height: normal;

  text-decoration: none;

  color: rgb(255,252,244);
}

.logo-link span:nth-child(1) {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.logo-link span:nth-child(2) {
  text-transform: uppercase;

  color: rgb(29,222,139);
}
