/* Price section */
.prices {
  font-size: 14px;

  color: rgb(150,150,150);
}

.prices-title {
  margin-bottom: 25px;
}

.prices-itemWrapper {}

.prices-item {
  display: inline-block;

  width: 23.275%;
  /* width: 270px; */
  margin-right: 2.3%;

  vertical-align: top;
}

.prices-item:nth-child(4) {
  margin-right: 0;
}

@media all and (max-width: 946px) {

  .prices-item {
    width: 45%;
  }

  .prices-item:nth-child(n) {
    margin: 0 2.5% 0 2.5%;
  }

}

@media all and (max-width: 599px) {

  .prices-item {
    width: 90%;
  }

  .prices-item:nth-child(n) {
    margin: 0 5% 0 5%;
  }

}
