.services {}

.services-title {
  margin-bottom: 55px;
}

.services-title span {
  text-transform: uppercase;

  color: rgb(29,222,139);
}

.services-description {
  max-width: 900px;
  margin: 0 auto 80px auto;

  font: 100 18px/30px 'Roboto', Arial, Helvetica, sans-serif;

  color: rgb(150,150,150);
}

.services-item {
  display: inline-block;
  overflow: auto; /* set auto scroll and set baseline to bottom of inline-block element */

  width: 30%;
  min-height: 250px;
  margin-right: 5%;
  margin-bottom: 5%;

  vertical-align: top;

  color: rgb(70,70,70);
  border: 1px solid rgb(150,150,150);
}

.services-itemWrapper {
  /* Item wrapper for proper nth-child() usage */
}

.services-item:nth-child(3n) {
  margin-right: 0;
}

.services-item:nth-child(n+4) {
  margin-bottom: 0;
}

/* Fontello icons */
.services-itemIcon {
  display: block;

  margin-top: 7%;
  margin-bottom: 5%;

  font-size: 34px;
}

.services-itemTitle {
  margin-bottom: 7%;

  font: 500 24px/normal 'Roboto', Arial, Helvetica, sans-serif;
}

.services-itemDescription {
  padding: 5px;

  font: 100 14px/2 'Roboto', Arial, Helvetica, sans-serif;

  color: rgb(150,150,150);
}

.services-item:hover {
  border-color: rgb(29,222,139);
}

.services-item:hover .services-itemDescription {
  color: rgb(70,70,70);
}

.services-item:hover .services-itemIcon,
.services-item:hover .services-itemTitle {
  color: rgb(29,222,139);
}

@media all and (max-width: 946px) {

  .services-item {
    width: 45%;
  }

  .services-item:nth-child(n) {
    margin: 0 2.5% 5% 2.5%;
  }

  .services-item:nth-child(n+5) {
    margin-bottom: 0;
  }

}

@media all and (max-width: 599px) {

  .services-item {
    width: 90%;
  }

  .services-item:nth-child(n) {
    margin: 0 5% 10% 5%;
  }

  .services-item:last-child {
    margin-bottom: 0;
  }

}
