.works {
  padding-bottom: 50px;
}

.works-title {
  margin-bottom: 45px;
}

.works-itemWrapper {}

.works-item {
  display: inline-block;

  width: 33.3%;
  /* width: 390px; */
  /* height: 390px; */
  margin-bottom: 5%;

  vertical-align: top;
}

.works-item img {
  width: 100%;
  height: 100%;

  vertical-align: top;

  opacity: 0.8;
}

.works-item img:hover {
  opacity: 1;
}

/* Works section button */
.works-button {
  position: relative;

  width: 195px;
  margin: 0 auto;

  font: 100 18px/50px 'Roboto', Arial, Helvetica, sans-serif;

  background-color: rgb(29,222,139);
}

.works-button a {
  color: rgb(255,252,244);
}

@media all and (max-width: 599px) {

  .works-item {
    width: 90%;

    margin-bottom: 10%;
  }

}
